@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

body {
  @apply bg-gray-900 text-gray-100;

  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 3px;
  height: 0;
  overflow: visible;

  @apply bg-gray-900;
}

html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  @apply bg-purple-500;
}

html::-webkit-scrollbar-button,
html::-webkit-scrollbar-button {
  height: 0;
  width: 0;
}

.container {
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

.faq-trigger > .chevron > .icon {
  transition: all 0.2s ease;
}

.faq-trigger[data-state='open'] > .chevron > .icon {
  transform: rotate(135deg);
}

.faq-content {
  overflow: hidden;
}
.faq-content[data-state='open'] {
  animation: slideDown 300ms ease-out;
}
.faq-content[data-state='closed'] {
  animation: slideUp 300ms ease-out;
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}

.navbar-animation-opening {
  animation: navbarOpen 0.5s ease-in-out forwards;
}

.navbar-animation-closing {
  animation: navbarClose 0.5s ease-in-out forwards;
}

@keyframes navbarOpen {
  from {
    top: -1000px;
    height: 0px;
  }
  to {
    top: 0;
    height: 100%;
  }
}

@keyframes navbarClose {
  from {
    top: 0;
    height: 100%;
    position: fixed;
  }
  to {
    top: -1000px;
    height: 0px;
  }
}